Repository DBMI/REDCapMatchResolver: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        files: "py$"
      - id: trailing-whitespace
        files: "py$"
      - id: mixed-line-ending
-   repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: poetry run autoflake -r --remove-all-unused-imports --remove-unused-variables src/redcapmatchresolver
        files: "py$"
        language: system
        types: [ python ]
      - id: isort
        name: isort
        entry: poetry run isort src/redcapmatchresolver
        files: "py$"
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black src/redcapmatchresolver
        files: "py$"
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py37-plus
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy src/redcapmatchresolver
        require_serial: true
        files: "py$"
        language: python
        additional_dependencies: ["mypy==0.812"]
        types: [python]
        pass_filenames: false
      - id: flake8
        name: flake8
        entry: poetry run flake8 src/redcapmatchresolver
        exclude: "tests"
        files: "py$"
        language: system
        types: [python]
      - id: kacl-verify
        name: kacl-verify
        entry: poetry run kacl-cli verify
        language: system
        files: 'CHANGELOG.md'
        pass_filenames: false

Add required sections to tool.poetry sectoin
  pyproject.toml
Due: none

Trying to correct poetry error.
  .github/actions/python-poetry-env/action.yml
  .github/workflows/test.yml
  pyproject.toml
Due: none

Specify poetry version
  .github/actions/python-poetry-env/action.yml
Due: none

Modernizing pyproject.toml layout
  pyproject.toml
Due: none

Adding faker to test dependencies
  pyproject.toml
Due: none

Synchronizing Python version requirements
  poetry.lock
  pyproject.toml
Due: none

Added test reqt for openpyxl
  poetry.lock
  pyproject.toml
Due: none

Switch to package-mode true.
  pyproject.toml
  setup.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Update installable package
  dist/redcapmatchresolver-1.5.8-py2.py3-none-any.whl
  dist/redcapmatchresolver-1.5.8.tar.gz
  dist/redcapmatchresolver-1.6.1-py3-none-any.whl
  dist/redcapmatchresolver-1.6.1.tar.gz
Due: none

Update __init__.py to allow finding match_record_generator.
  dist/redcapmatchresolver-1.6.2-py3-none-any.whl
  dist/redcapmatchresolver-1.6.2.tar.gz
  pyproject.toml
  setup.py
  src/redcapmatchresolver/__init__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Fix typo re redcaputilities.logging
  dist/redcapmatchresolver-1.6.1-py3-none-any.whl
  dist/redcapmatchresolver-1.6.1.tar.gz
  dist/redcapmatchresolver-1.6.2-py3-none-any.whl
  dist/redcapmatchresolver-1.6.2.tar.gz
  dist/redcapmatchresolver-1.6.3-py3-none-any.whl
  dist/redcapmatchresolver-1.6.3.tar.gz
  pyproject.toml
  setup.py
  src/redcapmatchresolver/redcap_match_resolver.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Fix references to redcaputilities.logging
  dist/redcapmatchresolver-1.6.3-py3-none-any.whl
  dist/redcapmatchresolver-1.6.3.tar.gz
  src/redcapmatchresolver/redcap_report_reader.py
  src/redcapmatchresolver/redcap_report_writer.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Added py.typed file
  dist/redcapmatchresolver-1.6.3.tar.gz
  dist/redcapmatchresolver-1.6.4-py3-none-any.whl
  dist/redcapmatchresolver-1.6.4.tar.gz
  pyproject.toml
  setup.py
  src/py.typed.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Move and rename py.typed
  pyproject.toml
  setup.py
  src/py.typed.py
  src/redcapmatchresolver/py.typed
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Tweak description to force update
  dist/redcapmatchresolver-1.6.5-py3-none-any.whl
  dist/redcapmatchresolver-1.6.5.tar.gz
  pyproject.toml
Due: none

Attempt to force use of newest REDCapUtilities
  .github/actions/python-poetry-env/action.yml
  dist/redcapmatchresolver-1.6.3-py3-none-any.whl
  dist/redcapmatchresolver-1.6.3.tar.gz
  dist/redcapmatchresolver-1.6.4-py3-none-any.whl
  dist/redcapmatchresolver-1.6.4.tar.gz
  dist/redcapmatchresolver-1.6.5-py3-none-any.whl
  dist/redcapmatchresolver-1.6.5.tar.gz
  dist/redcapmatchresolver-1.6.6-py3-none-any.whl
  dist/redcapmatchresolver-1.6.6.tar.gz
  poetry.lock
  pyproject.toml
  setup.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Use local configuration in pytest command.
  .github/workflows/test.yml
Due: none

Specify version of REDCapUtilities
  pyproject.toml
Due: none

Specify branch of REDCapUtilities
  pyproject.toml
Due: none

Update lock file
  poetry.lock
Due: none

Force poetry update
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: none

Add to requirements list.
  poetry.lock
  pyproject.toml
Due: none

Resolving formatting errors
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/draft_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  dist/redcapmatchresolver-1.6.6-py3-none-any.whl
  dist/redcapmatchresolver-1.6.6.tar.gz
  dist/redcapmatchresolver-1.6.7-py3-none-any.whl
  dist/redcapmatchresolver-1.6.7.tar.gz
  poetry.lock
  pyproject.toml
  setup.py
  src/redcapmatchresolver/__init__.py
  src/redcapmatchresolver/match_quality.pyi
  src/redcapmatchresolver/match_record_generator.pyi
  src/redcapmatchresolver/match_records.py
  src/redcapmatchresolver/match_records.pyi
  src/redcapmatchresolver/redcap_appointment.py
  src/redcapmatchresolver/redcap_appointment.pyi
  src/redcapmatchresolver/redcap_clinic.pyi
  src/redcapmatchresolver/redcap_match_resolver.pyi
  src/redcapmatchresolver/redcap_patient.pyi
  src/redcapmatchresolver/redcap_report_reader.pyi
  src/redcapmatchresolver/redcap_report_writer.py
  src/redcapmatchresolver/redcap_report_writer.pyi
  tests/test_match_resolver.py
  tests/test_report_writer.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Switch to ruff formatting
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/source/conf.py
  poetry.lock
  pyproject.toml
  src/redcapmatchresolver/match_record_generator.pyi
  src/redcapmatchresolver/match_records.py
  src/redcapmatchresolver/match_records.pyi
  src/redcapmatchresolver/redcap_appointment.py
  src/redcapmatchresolver/redcap_appointment.pyi
  src/redcapmatchresolver/redcap_clinic.pyi
  src/redcapmatchresolver/redcap_match_resolver.py
  src/redcapmatchresolver/redcap_match_resolver.pyi
  src/redcapmatchresolver/redcap_patient.py
  src/redcapmatchresolver/redcap_patient.pyi
  src/redcapmatchresolver/redcap_report_reader.py
  src/redcapmatchresolver/redcap_report_reader.pyi
  src/redcapmatchresolver/redcap_report_writer.py
  src/redcapmatchresolver/redcap_report_writer.pyi
  tests/conftest.py
  tests/test_patient.py
  tests/test_report_reader.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Fix tiny bug in wobbler report reader.
  dist/redcapmatchresolver-1.6.7-py3-none-any.whl
  dist/redcapmatchresolver-1.6.7.tar.gz
  dist/redcapmatchresolver-1.6.8-py3-none-any.whl
  dist/redcapmatchresolver-1.6.8.tar.gz
  pyproject.toml
  src/redcapmatchresolver/redcap_match_resolver.py
  src/redcapmatchresolver/redcap_report_reader.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Remove unused fixture
  pyproject.toml
  tests/conftest.py
  tests/test_match.py
Due: autoflake, isort, black, pyupgrade, mypy

Remove references to unused fixture.
  tests/test_match.py
  tests/test_match_record_generator.py
Due: autoflake, isort, black, pyupgrade, mypy

Update to latest REDCapUtilities
  poetry.lock
  pyproject.toml
Due: none

UPdating lock file
  poetry.lock
Due: none

Update version of REDCapUtilities
  dist/redcapmatchresolver-1.6.8-py3-none-any.whl
  dist/redcapmatchresolver-1.6.8.tar.gz
  dist/redcapmatchresolver-1.6.9-py3-none-any.whl
  dist/redcapmatchresolver-1.6.9.tar.gz
  poetry.lock
  pyproject.toml
Due: none
