Repository DBMI/REDCapMatchResolver: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        files: "py$"
      - id: trailing-whitespace
        files: "py$"
      - id: mixed-line-ending
-   repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: poetry run autoflake -r --remove-all-unused-imports --remove-unused-variables src/redcapmatchresolver
        files: "py$"
        language: system
        types: [ python ]
      - id: isort
        name: isort
        entry: poetry run isort src/redcapmatchresolver
        files: "py$"
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black src/redcapmatchresolver
        files: "py$"
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py37-plus
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy src/redcapmatchresolver
        require_serial: true
        files: "py$"
        language: python
        additional_dependencies: ["mypy==0.812"]
        types: [python]
        pass_filenames: false
      - id: flake8
        name: flake8
        entry: poetry run flake8 src/redcapmatchresolver
        exclude: "tests"
        files: "py$"
        language: system
        types: [python]
      - id: kacl-verify
        name: kacl-verify
        entry: poetry run kacl-cli verify
        language: system
        files: 'CHANGELOG.md'
        pass_filenames: false

Resolving pipeline errors.
  .github/badges/last-commit-badge.svg
  dist/REDCapMatchResolver-0.5.0-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.0.tar.gz
  poetry.lock
  pyproject.toml
  src/setup.py
  tests/__init__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Make bad report name really bad.
  pyproject.toml
  src/redcapmatchresolver/data/__init__.py
  src/redcapmatchresolver/redcap_clinic.py
  tests/test_report_writer.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Resolving pipeline file errors.
  src/redcapmatchresolver/redcap_clinic.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Make report name too long.
  tests/test_report_writer.py
Due: autoflake, isort, black, pyupgrade, mypy

Inject more bad characters.
  tests/test_report_writer.py
Due: autoflake, isort, black, pyupgrade, mypy

Remove OS-dependent test.
  tests/test_report_writer.py
Due: autoflake, isort, black, pyupgrade, mypy

Build installable package.
  dist/REDCapMatchResolver-0.5.1-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.1.tar.gz
  pyproject.toml
  src/setup.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Use module-specific logfile names.
  .flake8
  dist/REDCapMatchResolver-0.5.2-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.2.tar.gz
  out/redcapmatchresolver/__init__.pyi
  out/redcapmatchresolver/data/__init__.pyi
  pyproject.toml
  setup.py
  src/redcapmatchresolver/redcap_appointment.pyi
  src/redcapmatchresolver/redcap_clinic.pyi
  src/redcapmatchresolver/redcap_match_resolver.py
  src/redcapmatchresolver/redcap_match_resolver.pyi
  src/redcapmatchresolver/redcap_patient.pyi
  src/redcapmatchresolver/redcap_report_reader.py
  src/redcapmatchresolver/redcap_report_reader.pyi
  src/redcapmatchresolver/redcap_report_writer.py
  src/redcapmatchresolver/redcap_report_writer.pyi
  src/redcapmatchresolver/utilities.py
  src/redcapmatchresolver/utilities.pyi
Due: autoflake, isort, black, pyupgrade, mypy, flake8

chore: update dependencies
  poetry.lock
Due: none

Update .gitignore
  .gitignore
Due: none

Delete test_patient_report.txt
  tests/test_patient_report.txt
Due: none

Restore file deleted by mistake.
  tests/test_patient_report.txt
Due: none

Fix path problems.
  .gitignore
  dist/REDCapMatchResolver-0.5.3-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.3.tar.gz
  pyproject.toml
  setup.py
  src/redcapmatchresolver/__init__.py
  src/redcapmatchresolver/redcap_appointment.pyi
  src/redcapmatchresolver/redcap_clinic.pyi
  src/redcapmatchresolver/redcap_match_resolver.py
  src/redcapmatchresolver/redcap_match_resolver.pyi
  src/redcapmatchresolver/redcap_patient.pyi
  src/redcapmatchresolver/redcap_report_reader.py
  src/redcapmatchresolver/redcap_report_reader.pyi
  src/redcapmatchresolver/redcap_report_writer.py
  src/redcapmatchresolver/redcap_report_writer.pyi
  src/redcapmatchresolver/utilities.py
  src/redcapmatchresolver/utilities.pyi
  tests/test_report_writer.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Delete __init__.pyi
  out/redcapmatchresolver/__init__.pyi
Due: none

Delete __init__.pyi
  out/redcapmatchresolver/data/__init__.pyi
Due: none

Delete temp_database.db
  tests/temp_database.db
Due: none

Delete temp_matches_database.db
  tests/temp_matches_database.db
Due: none

Put temp database in patient data directory.
  pyproject.toml
  setup.py
  src/redcapmatchresolver/redcap_appointment.py
  src/redcapmatchresolver/redcap_match_resolver.py
  src/redcapmatchresolver/redcap_match_resolver.pyi
  src/redcapmatchresolver/redcap_patient.py
  src/redcapmatchresolver/redcap_patient.pyi
  tests/conftest.py
  tests/temp_database.db
  tests/temp_matches_database.db
  tests/test_match_resolver.py
  tests/test_patient.py
  tests/test_report_reader.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Improving test coverage.
  .github/badges/coverage-badge.svg
  .github/badges/last-commit-badge.svg
  dist/REDCapMatchResolver-0.5.6-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.6.tar.gz
  src/redcapmatchresolver/redcap_match_resolver.py
  src/redcapmatchresolver/redcap_patient.py
  src/redcapmatchresolver/redcap_report_reader.py
  src/redcapmatchresolver/redcap_report_reader.pyi
  src/redcapmatchresolver/redcap_report_writer.py
  tests/test_match_resolver.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Use dataframes to create Patient, Appointment objects.
  .github/badges/last-commit-badge.svg
  dist/REDCapMatchResolver-0.5.5-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.5.tar.gz
  dist/REDCapMatchResolver-0.5.7-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.7.tar.gz
  poetry.lock
  pyproject.toml
  setup.py
  src/redcapmatchresolver/redcap_appointment.py
  src/redcapmatchresolver/redcap_appointment.pyi
  src/redcapmatchresolver/redcap_patient.py
  src/redcapmatchresolver/redcap_patient.pyi
  tests/conftest.py
  tests/test_patient.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Added method 'to_df()'.
  dist/REDCapMatchResolver-0.5.6-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.6.tar.gz
  dist/REDCapMatchResolver-0.5.7-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.5.7.tar.gz
  dist/REDCapMatchResolver-0.6.0-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.6.0.tar.gz
  dist/REDCapMatchResolver-0.6.1-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.6.1.tar.gz
  pyproject.toml
  setup.py
  src/redcapmatchresolver/redcap_appointment.py
  src/redcapmatchresolver/redcap_appointment.pyi
  src/redcapmatchresolver/redcap_patient.py
  src/redcapmatchresolver/redcap_patient.pyi
  tests/conftest.py
  tests/test_match_resolver.py
  tests/test_patient.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Fix use of 'apply' across dataframe columns.
  .github/badges/last-commit-badge.svg
  pyproject.toml
  setup.py
  src/redcapmatchresolver/redcap_patient.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Fix access to values in Series object.
  dist/REDCapMatchResolver-0.6.0-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.6.0.tar.gz
  dist/REDCapMatchResolver-0.6.1-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.6.1.tar.gz
  dist/REDCapMatchResolver-0.6.2-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.6.2.tar.gz
  dist/REDCapMatchResolver-0.6.3-py2.py3-none-any.whl
  dist/REDCapMatchResolver-0.6.3.tar.gz
  pyproject.toml
  setup.py
  src/redcapmatchresolver/redcap_appointment.py
  src/redcapmatchresolver/redcap_patient.py
  tests/test_patient.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8
